{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<textarea name="note" id="note" class="form-control"></textarea>
<br/>
<div align="center">
    <button type="submit" class="btn btn-primary" onClick="addNote(note.value)">Add Note</button>
</div>
<br/>
<!-- FAVORITES -->
<div class="container">
  <h1 align="center">Favorites</h1>
  <div class="card-deck">
    {% for favorite in user.favorites %}
    <div class="card" style="width: auto; max-width: 400px;">
      <img class="card-img-top" src="{{ favorite.photo }}" alt="Card image cap" style="width: auto; max-width: 400px;">
      <div class="card-body">
        <h5 class="card-title">{{ favorite.name }}</h5>
        <p class="card-text">SKU: {{ favorite.style_id }}</p>
        <button type="button" class="close" onClick="deleteFavorite({{ favorite.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
